/* СЛАВА УКРАЇНІ!!!!!! */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  background-image: url(../img/bg9.png);
  background-repeat: repeat;
  background-size: 64px 64px;
}

.header {
  margin: auto;
  padding: 8px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
}

.wrapper {
  display: flex;
  padding: 8px;
  min-height: 240px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  display: flex;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 32px;
  max-width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

.carousel:hover .slide {
  animation-play-state: paused;
}

.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background: linear-gradient(to left,
      rgb(255, 255, 255) 0%,
      #ffffff00 100%);
  z-index: 1;
  top: 0;
}

.carousel::before {
  left: 0;
  transform: rotate(180deg);
}

.carousel::after {
  right: 0;
}

.slide {
  display: flex;
  animation: slideshow 32s linear infinite;
  background-color: #ffffff11;
}

.slide__image {
  padding: 20px;
  height: 160px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
