* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  background-image: url(../img/bg-grey-stone.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.carousel {
  position: relative;
  display: flex;
  border: 2px solid #444444;
  border-radius: 32px;
  max-width: 100%;
  overflow: hidden;
  background-color: #ffffff00;
}

.carousel:hover .slide {
  animation-play-state: paused;
}

.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background: linear-gradient(to left,
      #ffffff 0%,
      #ffffff00 100%);

  z-index: 1;
  top: 0;
}

.carousel::before {
  left: 0;
  transform: rotate(180deg);
}

.carousel::after {
  right: 0;
}

.slide {
  display: flex;
  animation: slideshow 32s linear infinite;
  background-color: #ffffff11;
}

.slide__image {
  padding: 20px;
  height: 160px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}